<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  
  <%- include('./partials/header') %>
  
  <%- body %>
  
  <section id="flash-message">
    <h2><%- messages() %></h2>
  </section>
  
  <%- include('./partials/footer') %>

  <script src="/js/script.js"></script>
</body>
</html>