<div class="container">
  <h1>
    <%= title %>
  </h1>
  <form action="/inv/update" id="update-form" method="post">
    <div>
      <label for="classification-list">Classification:</label>
      <div class="form-control">
        <%- classificationList %>
      </div>
    </div>
    <div>
      <label for="inv_make">Make:</label>
      <div class="form-control">
        <input id="inv_make" name="inv_make" type="text" value="<%= inv_make %>">
      </div>
    </div>
    <div>
      <label for="inv_model">Model:</label>
      <div class="form-control">
        <input id="inv_model" name="inv_model" type="text" value="<%= inv_model %>">
      </div>
    </div>
    <div>
      <label for="inv_year">Year:</label>
      <div class="form-control">
        <input id="inv_year" name="inv_year" type="text" value="<%= inv_year %>">
      </div>
    </div>
    <div>
      <label for="inv_description">Description:</label>
      <div class="form-control">
        <textarea name="inv_description" id="inv_description"><%= inv_description %></textarea>
      </div>
    </div>
    <div>
      <label for="inv_image">Image:</label>
      <div class="form-control">
        <input id="inv_image" name="inv_image" type="text" value="<%= inv_image %>">
      </div>
    </div>
    <div>
      <label for="inv_thumbnail">Thumbnail:</label>
      <div class="form-control">
        <input id="inv_thumbnail" name="inv_thumbnail" type="text" value="<%= inv_thumbnail %>">
      </div>
    </div>
    <div>
      <label for="inv_price">Price:</label>
      <div class="form-control">
        <input id="inv_price" name="inv_price" type="text" value="<%= inv_price %>">
      </div>
    </div>
    <div>
      <label for="inv_miles">Miles:</label>
      <div class="form-control">
        <input id="inv_miles" name="inv_miles" type="text" value="<%= inv_miles %>">
      </div>
    </div>
    <div>
      <label for="inv_color">Color:</label>
      <div class="form-control">
        <input id="inv_color" name="inv_color" type="text" value="<%= inv_color %>">
      </div>
    </div>
    <div>
      <h3>Setting for rent</h3>
      <hr>
    </div>
    <div>
      <label for="inv_for_rent">Is for rent:</label>
      <div class="form-control">
        <input tid="inv_for_rent" name="inv_for_rent" type="checkbox">
      </div>
    </div>
    <div>
      <label for="inv_price_day">Price per day:</label>
      <div class="form-control">
        <input id="inv_price_day" name="inv_price_day" type="text">
      </div>
    </div>
    <div>
      <label for="inv_available">Is available:</label>
      <div class="form-control">
        <input tid="inv_available" name="inv_available" type="checkbox">
      </div>
    </div>
    <div>
      <button id="button-update" type="submit" disabled>Update Vehicle</button>
    </div>
    <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %>>
  </form>
</div>

<script src="/js/inventoryUpdate.js"></script>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>